body {
  --background-color: #f7f7ff;
  --main-text-color: #555;
  --secondary-text-color: rgb(175, 175, 175);
  --sidebar-color: #2d2f3a;
  --sidebar-active-color: whitesmoke;
  --sidebar-inactive-color: rgb(180, 180, 180);
}
