.task {
  &__container {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 4px;
    margin-bottom: 8px;
    padding-left: 1.3rem;
    min-height: 120px;
    -webkit-box-shadow: 0px 3px 22px 8px rgba(178, 182, 191, 0.5);
    -moz-box-shadow: 0px 3px 22px 8px rgba(178, 182, 191, 0.2);
    box-shadow: 0px 3px 22px 8px rgba(178, 182, 191, 0.2);

    font-size: 1.13rem;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: var(--kanban-task-color);
  }

  &--active {
    background: rgb(165, 165, 165);
    color: white;
  }
}
